.error_message {
    color: rgb(205, 77, 105);
    position: absolute;
}

.normal_error_position {
    bottom: 6.8em;
}

.altered_error_position {
    bottom: 5.6em;
}

.success_message {
    color: rgb(77, 205, 101);
    position: absolute;
    bottom: 7.8em;
}