.products_container {
    width: inherit;
    height: calc(100vh - 8.5em);
}

.masonry-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-flow: dense;
    gap: 20px;
    margin: 20px 0;
}

.masonry-item {
    background: aliceblue;
    font-weight: 500;
    color: #576574;
    padding: 20px;
    border-radius: 8px;
    break-inside: avoid;
    transition: transform 0.2s;
    cursor: pointer;
}

/* Ajustes de responsividad para tarjetas */
@media (max-width: 800px) {
    .masonry-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 500px) {
    .masonry-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}