.navbar {
    background-color: aliceblue;
    border-radius: 0.5rem;
    position: absolute;
    width: fit-content;
    height: 3.4em;
    top: 3em;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    padding: 0 1em;
}

.navbar ul {
    list-style: none;
}

.navbar_list {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 2em;
}

.navbar_logout_button {
    font-weight: 500;
    color: #576574;
    text-decoration: inherit;
    cursor: pointer;
    padding: 0.4em 0.8em;
}

.navbar_logout_button:hover {
    background-color: rgb(222, 228, 234);
    border-radius: 0.5em;
}