.profile_page_container {
    padding-top: 8em;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.profile_button {
    background-color: rgb(222, 228, 234);
    color: #576574;
    border-radius: 0.5em;
    border: none;
    font-size: 0.9em;
    cursor: pointer;
    font-weight: 700;
    width: min-content;
    height: min-content;
    padding: 0.6em 0.8em;
}

.profile_button:hover {
    background-color: rgb(242, 248, 254);
}